body {
    background: url( "/static/image/Mainpic.jpg");
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: darkblue;
    position: fixed;
    top: 0;
    width: 100%;
}

    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .navbar a:hover {
            background: #f1f1f1;
            color: black;
        }

        .navbar a.active {
            background-color: #04AA6D;
            color: white;
        }



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}


.container {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100px;
}

    .container .search {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 80px;
        height: 80px;
        background-color: darkBlue;
        border-radius: 50%;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    }


    .container input {
        font-family: 'Poppins', sans-serif;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 50px;
        outline: none;
        border: none;
        background: lavender;
        padding: 0 80px 0 20px;
        border-radius: 30px;
        box-shadow: 0 0 25px 0 black, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
        transition: all 1s;
        opacity: 0;
        z-index: 5;
        font-weight: bolder;
        color: black;
    }

        .container input:hover {
            cursor: pointer;
        }

        .container input:focus {
            width: 300px;
            opacity: 1;
            cursor: text;
        }

.topnav {
    background-color: darkblue;
    overflow: hidden;
}

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

.container .search:before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: #fff;
    transform: rotate(45deg);
}

.container .search:after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #fff;
}
